@using EHR_MVC.ViewModels.Patient

@section Scripts {
    <script src="~/js/Patient/dummyData.js"></script>
    <script src="~/js/Patient/formValidation.js"></script>
    <script src="~/js/Patient/ajaxFunctions.js"></script>
}

@{
    ViewData["Title"] = "Add Patient Information";
    List<SelectListItem> GenderCodeList = (List<SelectListItem>)ViewBag.GenderCodeList;
    PatientViewModel PatientViewModel = (PatientViewModel)ViewBag.PatientViewModel;
}

<div id="patientForm">
    <div class="modal-header">
        <h1 class="display-4">Add Patient Information</h1>
    </div>

    <div class="modal-body">
        <label class="control-label">Select a Patient (Dummy Data)</label>
        <select class="form-control" id="dummyPatientSelect" onchange="fillDummyData()">
            <option value="">-- Select a Dummy Patient --</option>
            <option value="1">Fake Data 1</option>
            <option value="2">Fake Data 2</option>
            <option value="3">Fake Data 3</option>
            <option value="4">Fake Data 4 (Debug)</option>
        </select>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="form-inline col-md-6">
                <label class="control-label">Family (Last) Name</label>
                <input type="text" class="form-control" id="FamilyName" name="FamilyName" value="@PatientViewModel.FamilyName" required>
            </div>
            <div class="form-inline col-md-6">
                <label class="control-label">Given (First) Name</label>
                <input type="text" class="form-control" id="GivenName" name="GivenName" value="@PatientViewModel.GivenName" required>
            </div>
        </div>
        <div class="row">
            <div class="form-inline col-md-3">
                <label class="control-label">Nationality ID Number</label>
                <input type="text" class="form-control" id="IdNo" name="IdNo"
                       value="@PatientViewModel.IdNo"
                       oninput="regexValidator('IdNo')"
                       required>
            </div>
            <div class="form-inline col-md-3">
                <label class="control-label">Date of Birth</label>
                <input type="date" class="form-control" id="Birthday" name="Birthday"
                       value="@PatientViewModel.Birthday.ToString("yyyy-MM-dd")"
                       oninput="regexValidator('Birthday')"
                       required>
            </div>
            <div class="form-inline col-md-3">
                <label class="control-label">Gender</label>
                @Html.DropDownList("Gender", GenderCodeList, "Please Select Gender", new { @class = "form-control", id = "Gender" })
            </div>
            <div class="form-group col-md-3">
                <label class="control-label">Phone Number</label>
                <input type="text" class="form-control" id="Telecom"
                       value="@((string.IsNullOrEmpty(PatientViewModel.Telecom) ? "09" : PatientViewModel.Telecom))"
                       oninput="regexValidator('Telecom')"
                       required>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="control-label">Address</label>
                <textarea class="form-control" rows="3" id="Address" name="Address">@PatientViewModel.Address</textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button id="submitButton" type="button" class="btn btn-primary" onClick="submitPatientData()">Save</button>
        </div>
    </div>
</div>