@using EHR_MVC.Models.Patient

@section Scripts {
    <script src="~/js/Patient/ajaxFunctions.js"></script>
    <script src="~/js/Patient/searchList.js"></script>
    <script src="~/js/Patient/formValidation.js"></script>
    <script src="~/js/Patient/convertingFHIR.js"></script>
}

@{
    ViewData["Title"] = "Inquire Patient Information";
    List<SelectListItem> GenderCodeList = (List<SelectListItem>)ViewBag.GenderCodeList;
    PatientViewModel PatientViewModel = (PatientViewModel)ViewBag.PatientViewModel;

}

<div id="patientForm">
    <div class="mb-4 text-center">
        <h1 class="display-6">Inquire Patient Information</h1>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <div class="row g-3">
                <div class="col-md-3">
                    <label for="SearchPatientId" class="form-label">Patient ID</label>
                    <input type="text" class="form-control" id="SearchPatientId" name="SearchPatientId" value="">
                </div>
                <div class="col-md-3">
                    <label for="SearchIdNo" class="form-label">Nationality ID Number</label>
                    <input type="text" class="form-control" id="SearchIdNo" name="SearchIdNo" value="AB12345678">
                </div>
                <div class="col-md-3">
                    <label for="SearchFamilyName" class="form-label">Family (Last) Name</label>
                    <input type="text" class="form-control" id="SearchFamilyName" name="SearchFamilyName" value="">
                </div>
                <div class="col-md-3">
                    <label for="SearchGivenName" class="form-label">Given (First) Name</label>
                    <input type="text" class="form-control" id="SearchGivenName" name="SearchGivenName" value="">
                </div>
            </div>
            <div class="text-end mt-3">
                <button type="button" class="btn btn-primary" onClick="queryPatientData()">Inquire</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header text-center">
            <h5>Patient List</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive" id="patientList" style="display: none;">
                <table class="table table-striped table-hover">
                    <thead class="table">
                        <tr>
                            <th>Operations</th>
                            <th>Patient ID</th>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Nationality ID</th>
                            <th>Birthday</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div class="text-center mt-3">
                    <span id="noData" class="text-warning d-none">Query information not found.</span>
                </div>
            </div>
        </div>
    </div>

    <!-- The following section is disclosed after the user press the button "Modify()" -->
    <!-- Modal Structure -->
    <div class="modal fade" id="patientModal" tabindex="-1" aria-labelledby="patientModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="patientModalLabel">Patient Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Existing Form Fields -->
                    <div class="editForm" id="editForm" >
                        <div class="row">
                            <div class="form-group col-md-2">
                                <input type="hidden" id="PatientID" name="PatientID" value="@PatientViewModel.PatientId">
                            </div>
                            <div class="form-group col-md-5">
                                <label class="control-label">Family (Last) Name</label>
                                <input type="text" class="form-control" id="FamilyName" name="FamilyName" value="@PatientViewModel.FamilyName">
                            </div>
                            <div class="form-group col-md-5">
                                <label class="control-label">Given (First) Name</label>
                                <input type="text" class="form-control" id="GivenName" name="GivenName" value="@PatientViewModel.GivenName">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="control-label">Nationality ID Number</label>
                                <input type="text" class="form-control" id="IdNo" name="IdNo"
                                       value="@PatientViewModel.IdNo"
                                       oninput="regexValidator('IdNo')">
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Birthday</label>
                                <input type="date" class="form-control" id="Birthday" name="Birthday"
                                        value="@PatientViewModel.Birthday.ToString("yyyy-MM-dd")"
                                        oninput="regexValidator('Birthday')"
                                        >
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Gender</label>
                                @Html.DropDownList("Gender", GenderCodeList, "Please Select Gender", new { @class = "form-control", id = "Gender" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="control-label">Phone Number</label>
                                <input type="text" class="form-control" id="Telecom"
                                       value="@((string.IsNullOrEmpty(PatientViewModel.Telecom) ? "09" : PatientViewModel.Telecom))"
                                       oninput="regexValidator('Telecom')">
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Email</label>
                                <input type="email" class="form-control" id="Email" name="Email" value="@PatientViewModel.Email">
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Postal Code</label>
                                <input type="text" class="form-control" id="PostalCode" name="PostalCode" value="@PatientViewModel.PostalCode">
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="control-label">Country</label>
                                    <input type="text" class="form-control" id="Country" name="Country" value="@PatientViewModel.Country">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">Preferred Language</label>
                                    <input type="text" class="form-control" id="PreferredLanguage" name="PreferredLanguage" value="@PatientViewModel.PreferredLanguage">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="control-label">Emergency Contact Name</label>
                                    <input type="text" class="form-control" id="EmergencyContactName" name="EmergencyContactName" value="@PatientViewModel.EmergencyContactName">
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">Relationship</label>
                                    <input type="text" class="form-control" id="EmergencyContactRelationship" name="EmergencyContactRelationship" value="@PatientViewModel.EmergencyContactRelationship">
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">Emergency Phone</label>
                                    <input type="text" class="form-control" id="EmergencyContactPhone" name="EmergencyContactPhone" value="@PatientViewModel.EmergencyContactPhone">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="control-label">Address</label>
                                    <textarea class="form-control" rows="3" id="Address" name="Address">@PatientViewModel.Address</textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" id="editButton" onclick="enableEditing()">Edit</button>
                                <button type="button" class="btn btn-primary d-none" id="saveButton" onclick="modifyPatientData()">Amend</button>
                                <button type="button" class="btn btn-secondary d-none" id="cancelButton" onclick="cancelEditing()">Cancel</button>
                                <button type="button" class="btn btn-danger" id="deleteButton" onclick="deletePatient()">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FHIR JSON Modal -->
    <div class="modal fade" id="fhirModal" tabindex="-1" aria-labelledby="fhirModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered fhir-modal-dialog">
            <div class="modal-content fhir-modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="fhirModalLabel">FHIR JSON</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body fhir-modal-body">
                    <pre id="fhirModalBody" style="white-space: pre-wrap; word-wrap: break-word;"></pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick="submitFhirJson()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>



<style>

    .card {
        border-radius: 10px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s ease, box-shadow 0.2s ease;
    }

        .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
        }

    .card-header {
        font-weight: bold;
        border-bottom: 1px solid #dee2e6;
    }

    .card-body {
        padding: 20px;
    }

    .text-warning {
        font-size: 16px;
        font-weight: bold;
    }

    .fhir-modal-dialog {
        width: auto;
        margin: auto;
    }

    .fhir-modal-content {
        border-radius: 10px;
    }

    .fhir-modal-body {
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        max-height: 75vh;
        overflow-y: auto;
        padding: 15px;
    }


    #patientList {
        width: 100%;
        table-layout: fixed;
        margin: 0;
    }

    .table-responsive {
        overflow-x: auto;
    }

    .table {
        border-collapse: collapse;
        width: 100%;
    }

        .table th,
        .table td {
            text-align: center;
            vertical-align: middle;
            padding: 12px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

            .table td button {
                width: 80px;
                text-align: center;
                margin: 5px;
            }


    .table-hover tbody tr:hover {
        background-color: rgba(0, 123, 255, 0.1); /* Light blue hover effect */
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: rgba(0, 0, 0, 0.05);
    }

    #patientList {
        display: none;
    }

    #noData {
        display: none;
        color: #ffc107;
    }

    .modal-debug {
        border: 2px solid red;
    }

    .table-debug {
        border: 2px solid blue;
    }

    .form-control {
        width: 100%;
    }

    .form-inline {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

        .form-inline label {
            margin-right: 10px;
        }

</style>