@using EHR_MVC.Models.Patient

@section Scripts {
    <script src="~/js/Patient/ajaxFunctions.js"></script>
    <script src="~/js/Patient/searchList.js"></script>
    <script src="~/js/Patient/formValidation.js"></script>
    <script src="~/js/Patient/convertingFHIR.js"></script>
}

@{
    ViewData["Title"] = "Inquire Patient Information";
    List<SelectListItem> GenderCodeList = (List<SelectListItem>)ViewBag.GenderCodeList;
    PatientViewModel PatientViewModel = (PatientViewModel)ViewBag.PatientViewModel;

}

<div id="patientForm">
    <div class="modal-header">
        <h1 class="display-4">Inquire Patient Information</h1>
    </div>

    <div class="modal-body">
        <div class="row mb-3">
            <div class="col-md-3">
                <label for="SearchPatientId" class="form-label">Patient ID</label>
                <input type="text" class="form-control" id="SearchPatientId" name="SearchPatientId"
                value="">
            </div>
            <div class="col-md-3">
                <label for="SearchIdNo" class="form-label">Nationality ID Number</label>
                <input type="text" class="form-control" id="SearchIdNo" name="SearchIdNo" value="AB12345678">
            </div>
            <div class="col-md-3">
                <label for="SearchFamilyName" class="form-label">Family (Last) Name</label>
                <input type="text" class="form-control" id="SearchFamilyName" name="SearchFamilyName" value="">
            </div>
            <div class="col-md-3">
                <label for="SearchGivenName" class="form-label">Given (First) Name</label>
                <input type="text" class="form-control" id="SearchGivenName" name="SearchGivenName" value="">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary" onClick="queryPatientData()">Inquire</button>
            </div>
        </div>
    </div>

    <div class="modal-body">
        <div class="table-responsive" id="patientList"; display: none>
            <table class="table table-striped" display: table">
                <thead style="vertical-align: middle;">
                    <tr>
                        <th></th>
                        <th>Patient ID</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Nationality ID</th>
                        <th>Birthday</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <div>
                <span id="noData" style="display: none" class="d-none">Query information not found.</span>
            </div>
        </div>
    </div>

    <!-- The following section is disclosed after the user press the button "Modify()" -->
    <!-- Modal Structure -->
    <div class="modal fade" id="patientModal" tabindex="-1" aria-labelledby="patientModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="patientModalLabel">Patient Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Existing Form Fields -->
                    <div class="editForm" id="editForm" >
                        <div class="row">
                            <div class="form-group col-md-2">
                                <label class="control-label">Patient ID</label>
                                <input type="text" class="form-control" id="PatientID" name="PatientID" value="@PatientViewModel.PatientId">
                            </div>
                            <div class="form-group col-md-5">
                                <label class="control-label">Family (Last) Name</label>
                                <input type="text" class="form-control" id="FamilyName" name="FamilyName" value="@PatientViewModel.FamilyName">
                            </div>
                            <div class="form-group col-md-5">
                                <label class="control-label">Given (First) Name</label>
                                <input type="text" class="form-control" id="GivenName" name="GivenName" value="@PatientViewModel.GivenName">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="control-label">Nationality ID Number</label>
                                <input type="text" class="form-control" id="IdNo" name="IdNo"
                                       value="@PatientViewModel.IdNo"
                                       oninput="regexValidator('IdNo')">
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Birthday</label>
                                <input type="date" class="form-control" id="Birthday" name="Birthday"
                                        value="@PatientViewModel.Birthday.ToString("yyyy-MM-dd")"
                                        oninput="regexValidator('Birthday')"
                                        >
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Gender</label>
                                @Html.DropDownList("Gender", GenderCodeList, "Please Select Gender", new { @class = "form-control", id = "Gender" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="control-label">Phone Number</label>
                                <input type="text" class="form-control" id="Telecom"
                                       value="@((string.IsNullOrEmpty(PatientViewModel.Telecom) ? "09" : PatientViewModel.Telecom))"
                                       oninput="regexValidator('Telecom')">
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Email</label>
                                <input type="email" class="form-control" id="Email" name="Email" value="@PatientViewModel.Email">
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Postal Code</label>
                                <input type="text" class="form-control" id="PostalCode" name="PostalCode" value="@PatientViewModel.PostalCode">
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="control-label">Country</label>
                                    <input type="text" class="form-control" id="Country" name="Country" value="@PatientViewModel.Country">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">Preferred Language</label>
                                    <input type="text" class="form-control" id="PreferredLanguage" name="PreferredLanguage" value="@PatientViewModel.PreferredLanguage">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="control-label">Emergency Contact Name</label>
                                    <input type="text" class="form-control" id="EmergencyContactName" name="EmergencyContactName" value="@PatientViewModel.EmergencyContactName">
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">Relationship</label>
                                    <input type="text" class="form-control" id="EmergencyContactRelationship" name="EmergencyContactRelationship" value="@PatientViewModel.EmergencyContactRelationship">
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">Emergency Phone</label>
                                    <input type="text" class="form-control" id="EmergencyContactPhone" name="EmergencyContactPhone" value="@PatientViewModel.EmergencyContactPhone">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="control-label">Address</label>
                                    <textarea class="form-control" rows="3" id="Address" name="Address">@PatientViewModel.Address</textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" id="editButton" onclick="enableEditing()">Edit</button>
                                <button type="button" class="btn btn-primary d-none" id="saveButton" onclick="modifyPatientData()">Amend</button>
                                <button type="button" class="btn btn-secondary d-none" id="cancelButton" onclick="cancelEditing()">Cancel</button>
                                <button type="button" class="btn btn-danger" id="deleteButton" onclick="confirmDelete()">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="fhirModal" tabindex="-1" aria-labelledby="fhirModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="fhirModalLabel">FHIR JSON</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <pre id="fhirModalBody" style="white-space: pre-wrap; word-wrap: break-word;"></pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick="submitFhirJson()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>



<style>
    .modal-body {
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
    }

    .modal-dialog {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }

    .modal-content {
        margin: auto;
        max-width: 80%;
        border-radius: 10px;
    }


    #patientList {
        width: 100%;
        table-layout: fixed;
        margin: 0;
    }

    .table-responsive {
        overflow-x: auto;
    }

    .table {
    }
        .table th,
        .table td {
            padding: 10px;
            vertical-align: middle;
            text-align: left;
        }

        .table th,
        .table td {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

            .table td button {
                width: 80px;
                text-align: center;
                margin: 5px;
            }

    #patientList {
        display: none;
    }

    #noData {
        display: none;
        color: #ffc107;
    }

    .modal-debug {
        border: 2px solid red;
    }

    .table-debug {
        border: 2px solid blue;
    }

    .modal-dialog {
        max-width: 90%;
        width: auto;
        margin: auto;
    }

    .form-control {
        width: 100%;
    }

    .form-inline {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

        .form-inline label {
            margin-right: 10px;
        }

</style>